<div class="explore-the-world">
  <h1>{{ 'Explore The World'|t }}</h1>
  <p>{{ 'Explore the world and share your discoveries.'|t }}</p>
  <form action="/explore-the-world" method="post">
    {{ form }}
  </form>
</div>